/*contenido*/

.filtroPadding {
  padding-right: 60px;
}


.bgWhite {
  background: #fff;
}

.tituloET {
    background: -webkit-linear-gradient(#7ab0df, #1d5aa1);
    background: -moz-linear-gradient(#7ab0df, #1d5aa1);
    background: -o-linear-gradient(#7ab0df, #1d5aa1);
    background: linear-gradient(#7ab0df, #1d5aa1);
    border-top: 1px SOLID #000000;
    border-right: 1px SOLID #000000;
    border-bottom: 1px SOLID #000000;
    text-align: center;
    color: #fff;
    background-color: #c0c0c0;
    font-size: 12pt;
    vertical-align: middle;
    white-space: nowrap;
    direction: ltr;
    padding: 10px 0px 10px 0px;
}

.PaddingET {
  padding: 0 30px !important;
}

.iconos-aliados {
  width: 100%;
  padding: 0 !important;
}

.tituloC {
  text-align: center;
  font-size: 12px;
}

.paddingClientes {
  padding: 30px;
}

.fom-border {
  border: 3px solid #F58020;
  padding: 0 40px 20px 40px;
  margin-top: -13px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.contenedorDesktop {
  border: solid 2px #F8A31D;
  margin: -13px 0 0 90px !important;
  min-height: 210px;
  width: 90% !important;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.paddingT1 {
  padding-right: 80px;
  padding-left: 0px;
}

.noMargin {
  margin: 0 !important;
}

.contenedor1 {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.cliente {
  float: right;
  padding: 10px 40px 0 0;
  color: #fff;
}

.cliente a {
  color: #fff;
  text-decoration: none;
}

.wrap_info {
  text-align: center;
  font-size: 0.9em;
  color: #6684a8;
  border-top: 1px solid #cdcdcd;
  width: 100%;
  padding: 12px;
  margin: 5px;
  float: right;
  position: relative;
}

.columnaIzq {
  width: 760px !important;
  margin-right: 20px;
}

.navbar {
  margin-bottom:0px !important;
}
.azul {
  background: #5bc2eb !important;
}
.container-fluid {
  min-height: 150px;
}

h3 {
  background: -webkit-linear-gradient(#21BAE5, #14457D);
  background: -moz-linear-gradient(#21BAE5, #14457D);
  background: -o-linear-gradient(#21BAE5 #14457D);
  background: linear-gradient(#21BAE5,#14457D);
  padding: 20px;
  /*border-top-right-radius: 20px;
  border-top-left-radius: 20px;*/
  color: #fff !important;
  font-weight: normal;
  font-size: 20px !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid #F58020;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


/* FORMULARIOS */

.bg {
  background: #fff;
}

.mrgnBotMd {
  margin-bottom: 20px;
}

.paddingNewsD {
  padding: 0 7px;
}
.botonNewsD {
  background: -webkit-linear-gradient(#7ab0df, #1d5aa1);
  background: -moz-linear-gradient(#7ab0df, #1d5aa1);
  background: -o-linear-gradient(#7ab0df, #1d5aa1);
  background: linear-gradient(#7ab0df, #1d5aa1);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  border: 0;
  width: 110px;
  height: 30px;
  background-size: 100%;
  font-size: 15px;
}

.newsInputD {
  width: 100%;
  background: url(../images/bgInput.jpg) 0 0 repeat-x;
  border: solid 1px #a7a7a7;
  height: 30px;
  padding-left: 10px;
  color: #b8b8b8;
  font-family: Arial, Helvetica, sans-serif;
}
.newsInputD1 {
  width: 90%;
  background: url(../images/bgInput.jpg) 0 0 repeat-x;
  border: solid 1px #a7a7a7;
  height: 20px;
  padding-left: 10px;
  color: #b8b8b8;
  font-family: Arial, Helvetica, sans-serif;
}
.p1 {
  padding-left: 25px !important;
}
label {
  font-size: 1em !important;
  font-weight: normal !important;
  color: #436eb0;
}

.marcoformulario{
    border-radius: 10px;
    border: 1px solid #a9c899;
    background: #fff;
    padding: 15px;
    text-align: center;
}

.marco-login{
    border-radius: 21px;
    border: 1px solid #a9c899;
    background: #fff;
    height: 327px;
}

.marco-indicadores{
    border-radius: 21px;
    border: 1px solid #a9c899;
    background: #fff;
    padding: 10px;
}

.cabezote-form{
    background: #708090;
    height:25px;
    box-shadow:3px 4px 4px rgba(0,0,0,0.4);
    font-size:18px;
    text-shadow:2px 3px 3px rgba(0,0,0,0.8);
    color:#fff;
    padding:0 2px 5px 14px;
    text-align: left;
}

.contenedor-form-user{
  margin-bottom:20px;
  border-radius:0 0 15px 15px;
  box-shadow:3px 4px 4px rgba(0,0,0,0.4);
}

.fondo-form{
  background:#e2e5e0;
  border-radius:0 0 15px 15px;
  padding:10px;
}
.texto-encab-campos{
  font-size:16px;
  color:#717171;
  text-align: left;
}

.titular-into-form{
  background:#cacaca;
  padding:10px;
  text-align: left;
  font-size: 20px;
  color:#5f5f5f;
}

.texto-titulo-form{
  font-size:20px;
  color:#4b4a4a;
}

.campo-forms-gen{
  font-size: 10px;
  color: #203E74;
  border: 1px solid #CCC;
  border-radius: 15px;
  text-decoration: none;
  height: 30px;
  width: 100%;
}

.boton-form-home{
  font-size:16px;
  color:#fff;
  background:#aaacac;
  border:1px solid #aaacac;
  border-radius:5px;
  margin:3px;
}


.boton-form-home-b{
  font-size:16px;
  color:#fff;
  background:#5aa454;
  border:1px solid #5aa454;
  border-radius:5px;
  margin:3px;
  text-decoration: none;
}


.boton-form-home-a{
  font-size: 10px;
  color: #203E74;
  background: #fff;
  border-radius: 5px;
  margin: 3px;
  text-decoration: none;
  height: 30px;
  border: 0;
  padding: 5px 15px;
  font-weight: bold;
}

.boton-form-home-a a{
  background:#073a02;
  text-decoration:none;
}
.boton-form-home-a a:hover{
  background:#61e83d;
  color:#00740e;
  text-decoration:none;
}

.fondo-terminos{
  border-radius:10px;
  background:#C6DD77;
  padding:10px;
  margin:5px;
}

.cont-boton{
  margin:0px;
}


.btn-primary {
  color: #fff;
  background: -webkit-linear-gradient(#7ab0df, #1d5aa1) !important;
  background: -moz-linear-gradient(#7ab0df, #1d5aa1) !important;
  background: -o-linear-gradient(#7ab0df, #1d5aa1) !important;
  background: linear-gradient(#7ab0df, #1d5aa1) !important;
  border:0 !important;
  width: 160px;
  height: 40px;
  float:left;
  margin-left: 50px;
}

.btn-primary-right {
  color: #fff;
  background: -webkit-linear-gradient(#7ab0df, #1d5aa1) !important;
  background: -moz-linear-gradient(#7ab0df, #1d5aa1) !important;
  background: -o-linear-gradient(#7ab0df, #1d5aa1) !important;
  background: linear-gradient(#7ab0df, #1d5aa1) !important;
  border:0 !important;
  width: 160px;
  height: 40px;
  margin-right: 50px;
  float:right;
}